Repository W3Develops/W3Develops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @freecodecamp/dev-team, @w3develops/dev-team, @JonathanJackson

erased header
  pages/study-groups.html
Owners: @freecodecamp/dev-team

reverted css
  css/agency.css
Owners: @freecodecamp/dev-team

reverted js
  js/study_sorter.js
Owners: @freecodecamp/dev-team

uploaded temporary test file
  js/test_study_sorter.js
Owners: @freecodecamp/dev-team

creating new variables for full time and part time
  js/study_sorter.js
Owners: @freecodecamp/dev-team

Update w3develops.css
  css/w3develops.css
Owners: @freecodecamp/dev-team

Update study-groups.html
  pages/study-groups.html
Owners: @freecodecamp/dev-team

addd this filed so i can migrate our site to netifly
  Gemfile
Owners: @w3develops/dev-team

added this so i can migrate site to netifly
  .ruby-version
Owners: @w3develops/dev-team

Updated the navbar
  index.html
Owners: @w3develops/dev-team

updated the donate link
  index.html
Owners: @w3develops/dev-team

navbar text update
  index.html
Owners: @w3develops/dev-team

Update FUNDING.yml
  .github/FUNDING.yml
Owners: @freecodecamp/dev-team

changed the emojis for python and javascript
  index.html
Owners: @w3develops/dev-team

added noreferrer and noopener to the nav links
  index.html
Owners: @w3develops/dev-team

Update index.html
  index.html
Owners: @w3develops/dev-team

added cog emoji for the javascript li
  index.html
Owners: @w3develops/dev-team

added noreferrerf and noopener to doinate button
  index.html
Owners: @w3develops/dev-team

added verification for google web master
  index.html
Owners: @w3develops/dev-team

This is for google web master to verify our github
  index.html
Owners: @w3develops/dev-team

removed the google file i added wrong
  index.html
Owners: @w3develops/dev-team

added file to verify github on google web master
  google80d0ba27e8629a27.html
Owners: @w3develops/dev-team

Delete google80d0ba27e8629a27.html
  google80d0ba27e8629a27.html
Owners: @w3develops/dev-team

added github verificatin
  index.html
Owners: @w3develops/dev-team

Update index.html
  index.html
Owners: @w3develops/dev-team

removed unnecessary meta tags
  index.html
Owners: @w3develops/dev-team

added sitemap
  sitemap.xml
Owners: @w3develops/dev-team

Create robots.txt
  robots.txt
Owners: @w3develops/dev-team

Update robots.txt
  robots.txt
Owners: @w3develops/dev-team

Delete sitemap.xml
  sitemap.xml
Owners: @w3develops/dev-team

Update robots.txt
  robots.txt
Owners: @w3develops/dev-team

adds a forward slash to the end or the url
  .htaccess
Owners: @w3develops/dev-team

Update author's name
  scss/README.md
Owners: none

Remove MIT License text from LICENSE file
  LICENSE
Owners: @w3develops/dev-team

.github/CODEOWNERS:

# -------------------------------------------------
# CODEOWNERS - For automated review request for
# high impact files.
#
# Important: The order in this file cascades.
#
# https://help.github.com/articles/about-codeowners
# -------------------------------------------------

# -------------------------------------------------
# All files except markdown are owned by dev team
# -------------------------------------------------

* @freecodecamp/dev-team
*.md

# -------------------------------------------------
# All files in the root are owned by dev team
# -------------------------------------------------

/* @w3develops/dev-team

# -------------------------------------------------
# All markdown files in the root are owned
# by Jonathan Jackson.
# He oversees the README, LICENSE, etc.
# -------------------------------------------------

/*.md @JonathanJackson
